._3t9c{padding-top:12px;position:relative}._3t9n{border-radius:4px;height:36px;margin-right:12px;width:36px}._3t9o{line-height:34px;margin-left:20px}
._20m9{background-color:#000;color:#fff;height:100%;position:absolute;text-align:center;width:100%}._20ma{color:#fa3e3e}

#bootloader__4elV{height:42px;}.bootloader__4elV{display:block!important;}