._4y19{color:#3578e5;display:block;margin-bottom:-6px;text-align:center}._4y1a{position:relative;top:3px}
._17zx{bottom:0;left:0;position:absolute;right:0;z-index:1}._17zy{background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6));height:32px}._17zz{background-color:rgba(0,0,0,.6);padding:24px;text-align:center;vertical-align:middle}._17z-:hover{text-decoration:none}._17z_{color:#fff;font-size:24px;font-weight:normal}._17-0{color:#ccc;font-size:16px;font-weight:normal;padding-top:2px}
._3-v_{border-bottom:1px solid #ebedf0;color:#1c1e21;display:block;font-size:12px;line-height:20px;margin:-2px 0 10px 0;padding:0 0 7px 27px;position:relative}._3-w0{background-color:#4267b2;border-radius:50%;box-sizing:border-box;float:left;height:20px;padding:2px;width:20px}._3b57{background-color:#7b64c0;height:22px;padding:3px;width:22px}._60mc a{color:#333;font-weight:600}._60me ._3-v_{border-bottom:0;margin-bottom:0;padding-bottom:0}

#bootloader_lTe96{height:42px;}.bootloader_lTe96{display:block!important;}